#button {
    padding: 0;
}

#button li{
    display: inline;
    margin: 25px;
    
}

#button li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(85, 8, 85);
    padding: 10px;
  

}
#button li a:hover{
    
    background-color: rgb(201, 180, 221);
    font-family: cursive;
    color: rgb(67, 20, 145);
} 